@import "tailwindcss";

:root {
  --background: #060505;
  --foreground: #f8f1f1;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fdfafa;
    --foreground: #080808;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

df-messenger {
      --df-messenger-button-titlebar-color: #7d4f16; /* Example: A shade of blue */
      --df-messenger-chat-background-color: #f7f4f4; /* Example: Light gray */
      --df-messenger-button-border-radius: 10px; /* Rounded corners */
    }